@import "tailwindcss";
@plugin "daisyui";



@plugin "daisyui/theme" {

  name: "forest";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97% 0.017 320.058);
  --color-base-200: oklch(95% 0.037 318.852);
  --color-base-300: oklch(90% 0.076 319.62);
  --color-base-content: oklch(40% 0.17 325.612);
  --color-primary: oklch(82% 0.119 306.383);
  --color-primary-content: oklch(29% 0.149 302.717);
  --color-secondary: oklch(89% 0.196 126.665);
  --color-secondary-content: oklch(27% 0.072 132.109);
  --color-accent: oklch(81% 0.117 11.638);
  --color-accent-content: oklch(27% 0.105 12.094);
  --color-neutral: oklch(38% 0.176 304.987);
  --color-neutral-content: oklch(97% 0.017 320.058);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(65% 0.241 354.308);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0.5rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
}

